@media only screen and (max-device-width:768px) {
    .mainPage .my_contacts_info {
        border-left: none!important;
        margin-top: 0!important
    }
    /*.mainPage .jumbo2 {
        height: 500px!important
    } */
    #scroll {
	width: 40px!important;
	height: 40px!important;
	right: 15px!important;
	bottom: 10px!important;
    z-index: 1!important
    }
    .home_page img {
        height: 50%
    }
    .images_drawing img {
        height: 100%!important
    }
    .artWork .photo ul.topic li.active ul {
        height: 910px!important
    }
    .icon_separator {
        border: 1px solid maroon;
        margin: 0 6%!important
    }
    .text_bottom {
        padding-bottom: 40px
    }
    .top_nav .links {
        font-size: 20px;
		text-align:left;
    }
    #myNavbar {
        text-align: center
    }
    .welcome_text {
        font-size: 90px!important
    }
    /*.spinner2 {
        width: 150px!important;
        height: 150px!important
    } */
	.mainPage .project_images img{
	width:100%;
		margin-bottom:10px
	}
	.mainPage .about_me>h2, .mainPage .contact_me>h2, .mainPage .projects_me>h2 {
    font-size: 30px;
	}
	.page{
		font-size: 16px;
	}
	.top_mob_only{
		height:50px;
	}
	.welcome p.border {
    background-color: #111;
    color: #fff;
    padding: 8px;
    letter-spacing: 2px;
    background: rgba(0, 0, 0, .5);
    font-size: 12px;
    }
	
}
@media only screen and (min-device-width:768px){

.mainPage .project_images img{
	height:100%;
	//height:350px;        
	margin-bottom:10px;
}
.logo_clss img{
	height:350px !important;
}
.mainPage .about_me>h2, .mainPage .contact_me>h2, .mainPage .projects_me>h2 {
    font-size: 35px;
}
.sections .wrkexp{
	background:url(../img/imgs_crusl/del_logo.jpg);
	background-position: right top;
		background-repeat: no-repeat;
}
.page{
	font-size: 20px;
}
.welcome p.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    letter-spacing: 10px;
    background: rgba(0, 0, 0, .5);
    font-size: 25px;
}
}